fastembed==0.8.0
ipykernel==7.3.0
langchain-huggingface==1.2.2
langchain-ollama==1.1.0
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.2
langgraph==1.2.6
tiktoken==0.13.0
pydantic
fastapi
minio
qdrant-client

langchain-core
markitdown
urllib3
uvicorn